$primary-color: rgb(31, 31, 31);
$secondary-color: #74b15c;
$show-home-image: true;
$home-image: url(../img/home_bg_2.jpg);
$background-opacity: 0.9;

// Mixin
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
